AIRFLOW_UID=50000

# backend db for airflow
POSTGRES_USER=<airflow_username>
POSTGRES_PASSWORD=<airflow_password>
POSTGRES_DB=<airflow_db_name>

# connection strings
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<airflow_username>:<airflow_password>@postgres/<airflow_db_name>
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://<airflow_username>:<airflow_password>@postgres/<airflow_db_name>
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0

# secrets
# generate using -> python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=<generate>
# generate using -> python3 -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__API_AUTH__JWT_SECRET=<generate>

# admin creds
_AIRFLOW_WWW_USER_USERNAME=<airflow_ui_username>
_AIRFLOW_WWW_USER_PASSWORD=<airflow_ui_password>
